@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
*{
    font-family: 'Roboto Slab', serif;
}

.navbar li a{
    font-size: 20px;
    margin: 0 20px;
    border-radius: 20px;
    padding: 5px;
 
}

.navbar li a:hover{
    /* text-decoration: underline; */
    background-color: rgb(124, 197, 6);
    color: black;
}

body{
    background-color: rgb(248, 249, 250);
}


.sha-20:hover{
  color: rgb(54, 12, 207);
  
}

.card{
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}







